.light-mode {
    background-color:#eee;
    color: #222;
  }

.dark-mode {
    background-color: #222;
    color: #eee;
  }

.sandia-mode {
    background-image: url(../img/sandia.jpg);
    color: #ff0000;
  }

  .btn {
    padding: 10px;
    width: 150px;
  }